<%-include('./partials/head')-%>

<body>
<%-include('./partials/header')-%>
    <main>
        <div>
            <% if (typeof message !== 'undefined') { %>
            <div class="message">
            <button><a href="config">X</a></button>
            <%=message%> 
            </div>
            <%}%>
           </div> 
           <h1>Registro de servicios</h1>
            <form action="/config" method="post">
                <label>
                    Nombre servicio
                    <input type="text" name="N_servicio" id="">
                </label>
                <label>
                    Tipo de servicio
                    <select name="T_servicio" id="">
                    <option value="Corte">Corte</option>
                    <option value="Cerquillo">Cerquillo</option>
                </select>
                </label>
                <label>
                    Costo
                    <input type="number" name="Costo" id="">
                </label>
                <button>Agregar</button>
            </form>
        </div>
    
            <div class="table-div">
                <%if(typeof row !== 'undefined'){%>
                   <% row.forEach((element) =>{%>
              
                      <table class="table caption-top">
                        <caption>Lista de servicios</caption>
                        <thead>
                          <tr>
                            <th scope="col">Nombre</td>
                            <th scope="col">Tipo de servicio</th>
                            <th scope="col">Costo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%=element.nombreServicio%></td>
                            <td><%=element.tipo_servicio%></td>
                            <td><%=element.costo%></td>
                            <td scope="col-3"><a href="/<%=element.nombreServicio%>"><button>Eliminar</button></a></td> 
                            <td scope="col-3"><a href="/edit/<%=element.idServicio%>"><button>Modificar</button></a> </td> 
                          </tr>
                        </tbody>
                      </table>
                       <div>
                         
                       </div>
                 <%})%>
              <%}%>
    
            </div>
   
   
    </main>
    <script src="/logica.js"></script>
    <script src="/productos carrito.js"></script>
    <script src="/profile.js"></script>



</body>
</html>
